# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Unity-Lab6FMOD.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\sfchool\WSEI\_Podstawy_Pracy_z_Dzwiekiem\AMalec11713_FMOD\Unity-Lab6FMOD\.idea\.idea.Unity-Lab6FMOD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
